/* ubuntu-regular - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu-v14-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.header__title{
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 700;
  color: #4B0082;
  font-size: 50px;
  margin: 50px;
  text-decoration: underline;
  text-decoration-color: #4B0082;
  text-decoration-style: double;
  display: inline-block;
  border: solid;
  border-color: yellow;
  border-style: dotted;
  border-width: 15px;
  background-color: #A7F892;
  font-style: oblique -16deg;
}
.header__text{
 text-decoration-line: underline;
 text-decoration-style: wavy;
 text-decoration-color: red;
 border: 1px solid yellow;
 border-radius: 25px;
 z-index: 3;
 text-align: center;
}
* {
    color: red;
}
.header__btn{
  color: white;
  font-weight: bold;
  background-color: #FF00FF;
  font-size: 14px;
  font-style: italic;
  font: sans-serif;
}
.body{
  background-color: #0F8252;
  
}
#header{
  background-color: green;
}
body{
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
}
button[name]{
  width: 150px;
}
.header__title + .header__text{
   color: yellow;
}
article > p{
  color: red;
}
  main p{
    color: blue;
}
 .header ~ p{
    color: green;
} 